Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
  #php_flag default_charset UTF-8
  #php_value display_errors 1
</IfModule>

<IfModule mod_php7.c>
  php_flag session.use_trans_sid off
  #php_flag default_charset UTF-8
  #php_value display_errors 1
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  
	# only .git
	RedirectMatch 404 /\.git

	# Убрать www
	RewriteCond %{HTTP_HOST} ^www.vrn-ehk\.ru$ [NC]
	RewriteRule ^(.*)$ http://vrn-ehk.ru/$1 [R=301,L]
	# Убрать index.php На главной
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(php|html|htm)\ HTTP/
	RewriteRule ^(.*)index\.(php|html|htm)$ $1 [R=301,L]
	# Убрать index.html
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.html?\ HTTP/
	RewriteRule ^(.*)index\.html?$ http://vrn-ehk.ru/$1 [R=301,L]
	# Убрать index.php
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.php?\ HTTP/
	RewriteRule ^(.*)index\.php?$ http://vrn-ehk.ru/$1 [R=301,L]
	#убрать //
	RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
	RewriteRule (.*) %1/%2 [R=301,L]
	# убрать окончание html
	# RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+([^.]+)\.html [NC]
	# RewriteRule ^ /%1/ [R=301,L]
	# убрать окончание htm
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+([^.]+)\.htm [NC]
	RewriteRule ^ /%1/ [R=301,L]
	# убрать idc=4&marea=6
	RewriteCond %{QUERY_STRING} ^idc=4&marea=6$ [NC]
	RewriteRule ^index\.php$ /? [R=301,L]
	
	
	RewriteEngine On
	RewriteCond %{HTTPS} =off
	RewriteCond %{REQUEST_URI} !^/bitrix/admin/1c_exchange.php
	#RewriteCond %{REQUEST_URI} !^/bitrix/services/yandex.market/trading/marketplace/s1
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,R=301,L]
	
	#убираем двойной слеш
	RewriteCond %{THE_REQUEST} //
	# Проверяем, повторяется ли слеш (//) более двух раз.
	RewriteRule .* /$0 [R=301,L]
	# Исключаем все лишние слеши.

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule> 
