.avito-collection-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
    width: 9px;
    height: 9px;
    padding: 3px 5px;
    border: 0;

	background: no-repeat 50% 50% / 12px 12px;
}

.avito-collection-button + .avito-collection-button {
	margin-left: 0;
}

.avito-collection-add-button {
    background-image: url('../../../../../images/avito.export/plus.svg');
}

.avito-collection-delete-button {
    background-image: url('../../../../../images/avito.export/delete.svg');
}
